# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
lib
es

# Next.js
/.next/
/out/

# Rspress
.rspress

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env*

# Vercel
.vercel

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temp
*.tmp
*.temp
.temp
.tmp
